.allposts-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.post-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.label-post-name {
  font-size: 17px;
}

.post-name {
  border-radius: 50em;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  align-items: center;
  justify-content: center;
}

.post {
  margin: 14px;
  max-width: 570px;
  max-height: 400px;
  padding: 10px;
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
  resize: vertical;
  border-radius: 6px;
}

.post-name {
  padding: 5px;
  width: 300px;
}

.btn-post {
  border-radius: 0.375rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: black;
  background-color: #a7aaf8b9;
  padding-left: 1.25rem /* 20px */;
  padding-right: 1.25rem /* 20px */;
  padding-top: 0.3rem /* 10px */;
  padding-bottom: 0.3rem;
  text-align: center;
  border-color: #a7aaf8b9;
}

.btn-post:hover {
  cursor: pointer;
  background-color: #a7aaf8a3;
}
