.post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-content {
  max-width: 600px;
  padding: 1em;
  font-size: 20px;
  line-height: 25px;
}

.post-buttons {
  display: flex;
  padding: 2em 2em 5em 2em;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.btn {
  padding: 10px;
  margin: 10px 2em;
  background-color: rgb(37, 144, 211);
  color: rgb(254, 251, 251);
}

.btn:hover {
  cursor: pointer;
  background-color: rgba(37, 144, 211, 0.753);
}

.post-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.label-post-name {
  font-size: 17px;
}

.post-name {
  border-radius: 50em;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  align-items: center;
  justify-content: center;
}
