#root {
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

main {
  display: flex;
  justify-content: space-between;
}

.main-post {
  padding-top: 3em;
}

.left-line,
.right-line {
  height: 100vh;
}

.left-line {
  width: 5%;
  background-color: darkslateblue;
  left: 0;
}

.right-line {
  width: 5%;
  background-color: darkslateblue;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkslateblue;
}

.options {
  position: relative;
  display: flex;
  justify-content: center;
  background: lightskyblue;
  width: 60%;
}

.links {
  margin: 10px 5%;
  padding: 1em;
  list-style-type: none;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.links:hover {
  color: rgb(80, 80, 80);
}
