#root {
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

#root::before,
#root::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2em;
  background-color: darkslateblue;
}

#root::before {
  left: 0;
}

#root::after {
  right: 0;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.options {
  display: flex;
}

.links {
  margin: 30px;
  padding: 1em;
  list-style-type: none;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.links:hover {
  color: rgb(80, 80, 80);
}
